.switchContainer {
  width: 40px;
}
input[type='checkbox'].switch {
  position: absolute;
  display: none;
}

input[type='checkbox'].switch + div {
  width: 34px;
  height: 18px;
  vertical-align: middle;
  border-radius: 999px;
  background-color: #c5c5c5;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  cursor: pointer;
}

input[type='checkbox'].switch:checked + div {
  width: 34px;
  background-position: 0 0;
  background-color: #743d74;
}

input[type='checkbox'].switch + div > div {
  float: left;
  width: 14px;
  height: 14px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color;
  transition-property: transform, background-color;
  pointer-events: none;
  margin-top: 2px;
  margin-left: 2px;
}

input[type='checkbox'].switch:checked + div > div {
  -webkit-transform: translate3d(16px, 0, 0);
  transform: translate3d(16px, 0, 0);
  background-color: #ffffff;
}
